.side_bar
  .side_header
    .top_items
      %p.user_name
        suzuki
      %ul.menu
        %li.edit_user
          %a(href="#")
            <i class="far fa-edit"></i>
        %li.new_group
          %a(class="cogs" href="#")
            <i class="fas fa-cog"></i>
  .side-list
    .group_contents
      .group_name
        suzuki
      .content_text
        ありがとう
    .group_contents
      .group_name
        sato
      .content_text
        さようなら
    .group_contents
      .group_name
        utida
      .content_text
        こんばんは
  
