.side_bar
  .side_bar__header
    .side_bar__header__items
      %p.user_name
        suzuki
      %ul.menu
        %li.edit_user
          %a(href="#")
            %i(class="far fa-edit")
        %li.new_group
          %a(class="cogs" href="#")
            %i(class="fas fa-cog")
  .side-list
    .side-list__group_box
      .side-list__group_box__name
        suzuki
      .side-list__group_box__text
        ありがとう
    .side-list__group_box
      .side-list__group_box__name
        sato
      .side-list__group_box__text
        さようなら
    .side-list__group_box
      .side-list__group_box__name
        utida
      .side-list__group_box__text
        こんばんは
  
