.side_bar
  .side_bar__header
    .side_bar__header__items
      %p.user_name
        = current_user.name
      %ul.menu
        %li.edit_user
          = link_to do
            %i(class="far fa-edit")
        %li.new_group
          =link_to edit_user_path(current_user) do
            %i(class="fas fa-cog")
  .side-list
    .side-list__group_box
      .side-list__group_box__name
        suzuki
      .side-list__group_box__text
        ありがとう
    .side-list__group_box
      .side-list__group_box__name
        sato
      .side-list__group_box__text
        さようなら
    .side-list__group_box
      .side-list__group_box__name
        utida
      .side-list__group_box__text
        こんばんは
  
