.main_chat {
  background-color: #fafafafa;
  width: 100vw;
  height: 100vh;
  &__header {
    background-color: #ffffff;
    border-bottom: #eeeeee;
    height: 100px;
    width: calc(100vw - 300px);
    position: fixed;
    z-index: 5;
    &__box {
      margin: 0 40px;
      display: flex;
      justify-content: space-between;
      &__group {
        padding-top: 35px;
        h1 {
          color: #333333;
          font-size: 20px;
        }
        li {
          color: #999999;
          font-size: 12px;
          margin-top: 15px;
        }
      }
      .header_edit {
        line-height: 100px;
        &__btn {
          padding: 11px 20px;
          font-size: 16px;
          color: #38aef0;
          border: 1px solid #38aef0;
          text-decoration: none;
        }
      }
    }
  }
  .messages {
    background-color: #FAFAFA;
    padding: 130px 40px 90px;
    height: 50vh;
    width: calc(100vw - 300px);
    bottom: 90px;
    left: 300px;
    .main-list {
      .main_content {
        display: flex;
        &__user-name {
          color: $black;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: $light_gray;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .main_message {
        margin-top: 10px;
        margin-bottom: 40px;
        &__content {
          color: $black;
          font-size: 14px;
        }
        &__image {
          width: 200px;
          height: 200px;
          object-fit: contain;
        }
      }
    }
  }
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    width: calc(100% - 300px);
    padding: 20px 50px 20px 40px;
    position: fixed;
    bottom: 0;
    left: 300px;
    z-index: 5;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
        cursor: pointer;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
      cursor: pointer;
    }
  }
}